<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Viewer</title>
        <script src="/js/folderpage.js"></script>
    </head>
    <body style="background-color: black; color: white; height: 100vh;">
        <div><%= username %></div>
        <div><%= folderName %></div>
        <div>
            <h1>Folders Viewer</h1>
            <form id="folderForm" action="/folder/api/create" method="POST">
            <label for="folderName">Folder Name:</label>
            <input type="text" id="foldername" name="foldername" required />
            <input type="hidden" id="parentid" name="parentid" value="<%= folderid %>" />
            <button type="submit">Create Folder</button>
        </form>

        <form id="fileuploadForm" action="/file/api/upload" method="POST" enctype="multipart/form-data">
            <label for="fileName">file Name:</label>
            <input type="file" id="filename" name="filename" required />
            <input type="hidden" id="parentid" name="parentid" value="<%= folderid %>" />
            <button type="submit">Upload file</button>
        </form>
            <ul>
                <% childfolders.forEach(function(folder) { %>
                    <li><a href="/folder/folder/<%= folder.id %>"><%= folder.name %>
                    
                    
                    </a>
                    <form id="deleteform" action="/folder/api/delete" method="POST">

           
            <input type="hidden" id="folderId" name="folderId" value="<%= folder.id %>" />
            <button type="submit">Delete Folder</button>
        </form>
        <form id="renameform" action="/folder/api/rename" method="POST">
            <input type="text" id="newName" name="newName" required />
            <input type="hidden" id="folderId" name="folderId" value="<%= folder.id %>" />
            <button type="submit">Rename Folder</button>
        </form>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div >
            <h1>Files</h1>
            <% files.forEach(function(file) { %>
                <li><%= file.name %>
                <form id="renameform" action="/file/api/rename" method="POST">

            <input type="text" id="newname" name="newname" required />
            <input type="hidden" id="fileId" name="fileId" value="<%= file.id %>" />
            <button type="submit">Rename file</button>
            </form>
            <form id="deleteform" action="/file/api/delete" method="POST">
            
           
            <input type="hidden" id="fileId" name="fileId" value="<%= file.id %>" />
            <button type="submit">Delete file</button>
        </form>
        <a href="/file/api/download/<%= file.id %>">Download</a>
        </li>
            <% }); %>
        </div>
    </body>
</html>